# exclude
app/AppKernel.php
app/config/config.yml
app/config/config_dev.yml
app/config/config_prod.yml
app/config/config_test.yml
app/config/parameters.yml
app/.htaccess
app/AppCache.php
bin/*
tests/*
var/*
vendor/*
web/config.php
web/media/cache/*
