<!--- MATTERS -->

<div class="x_panel">
    <div class="x_title">
      <h2>
        {% trans %}Matters{% endtrans %}
        <small>{% trans %}Enter the matters and the quantity needed{% endtrans %}</small>
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- CONTENU -->
        <div class="form-horizontal form-label-left">
            
        </div>
      <!-- // CONTENU -->
    </div>
</div>

<!--- MATTERS -->
