<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
  	{% if ( user.imagePath ) %}
    <img src="{{ asset('uploads/pic/profile/' ~ user.imagePath) | imagine_filter('my_thumb') }}" alt="Your profile Picture" class="img-circle profile_img">
	{% else %}
	<img src="{{ url('homepage') }}build/images/profilpic.png" alt="..." class="img-circle profile_img">
	{% endif %}
  </div>
  <div class="profile_info">
    <span>{% trans %}Welcome{% endtrans %}
,</span>
    <h2>{{ name }}</h2>
  </div>
</div>
<!-- /menu profile quick info -->