<!-- footer content -->
<footer>
  <div class="pull-right">
    &copy; Copyright 2017 - Rime Arodaky - Order and Production Management Platform | <a href="https://www.jfaroux.com">Author</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->