{% for shopRevenue in revenue %}
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			{% for shopRevenueDetails in shopRevenue %}
			{% if loop.index == 1 %}
				<h2>{{ shopRevenueDetails.Name }} <small>Extension</small></h2>
				<p class="pull-right" style="margin-bottom: 0px; margin-top: 4px;"><a class="btn btn-xs btn-default" href="/{{locale}}/management/revenue/extract/{{ shopRevenueDetails.IDShop }}"><i class="fa fa-download"></i> Download csv</a></p>
			{% endif %}
			{% endfor %}
			<div class="clearfix"></div>
		</div>
		<div class="x_content2">
			{% if shopRevenue|length < 2 %}
			    <div class="alert alert-warning" role="alert"><strong>Warning!</strong> Not enougth data to create a form</div>
			{% else %}
				{% for shopRevenueDetails in shopRevenue %}
					{% if loop.index == 1 %}<div id="shopRevenue{{ shopRevenueDetails.IDShop }}" style="height: 250px;"></div>{% endif %}
				{% endfor %}
				
			{% endif %}
		</div>
	</div>
</div>
{% endfor %}